:root {
  --header-color: #ffffff;
  --main-color-text: #212121;
  --second-color-text: #757575;
  --accent-color: #2196f3;
  --primary-title-color: #ffffff;
  --second-title-color: #212121;
  --current-color: #2196f3;
  --button-hover: #188CE8;
  --studio-background-black: #2F303A;
  --footer-menu-contact : rgba(255, 255, 255, 0.6);
  --studio-dark : #000000;
  
  
}
body {
  font-family: "Roboto", sans-serif;
}
.body {
    font-style: normal;
    font-weight: normal;
    color: var(--main-color-text);
    background-color: var(--header-color)
    
    
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    visibility: hidden;
}
.studio-dark{
    color: var(--studio-dark);
}
.studio-light{
    color: var(--primary-title-color);
}
.list-menu{
    color: var(--main-color-text);
}

.menu-link.current{
    color: var(--current-color);
}

/* -------логотип-------*/
.header-logo, .web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  
}
.web{
    color: var(--accent-color);
}


/*---------меню навигации-------*/
.menu-link,.contact-list  {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color:var(--main-color-text);
}
.menu-link:hover, 
.menu-link:focus{
    color: var(--accent-color);
    }
.contact-list :hover{
    background-color: var(--accent-color);
    color: var(--accent-color);
}
.contact-list :focus{
    background-color: var(--accent-color);
}   
    
.menu-email:focus,:hover{
    color: var(--accent-color);
    }
.menu-email :hover{
    background-color: var(--accent-color);
}
/*----заголовок h1, + кнопка-----*/
.seсtion-heading {
   background-color: var(--studio-background-black);
}
.section-header{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-title-color)


}
.header-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color:var(--main-color-text);
    background-color: var(--accent-color);
    
}
   
.header-btn:hover{
    background-color: var(--button-hover);
    color: var(--primary-title-color);
}
.header-btn:focus{
   color: var(--primary-title-color);
   background-color: var(--button-hover);
    
}




/* ----------Особенности-------- */


.main-text-list
{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-color-text)
}
.maim-text-item{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--second-color-text)
}
/* -------чем мы занимаемся-------- */
.activity-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-color-text)
}
/* --------команда--------- */
.team-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-color-text)

}
.team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-color-text)

}
.team-text{
    
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--second-color-text)
}
/* --------фильтры портфолио */
.btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color:var(--main-color-text);
    background-color: var(--accent-color);
    
}
   
.btn:hover, 
.btn:focus{
   color: var(--primary-title-color);
   background-color: var(--button-hover);
    
}
    

    
.projects-text{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--main-color-text)

}
.projects-item{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: var(--second-color-text)
}



/* ---------подвал------- */
.footer{
    background-color: var(--studio-background-black)
}
.address{
    font-style: normal;
}
.menu-contact {
    
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--footer-menu-contact);
}   
    .menu-contact:hover,
    .menu-contact:focus{
        color: var(--accent-color) ;
    }
    
.map{
    text-decoration: none;
    color: var(--primary-title-color)
    
}





/*main color text #212121*/
/*second color text #757575*/
/*accent color #2196F3 */
/*white color #FFFFFF*/
/*вторичный цвет фона #2F303A*/
/*цвет логотипа Web-#2196F3*/
/*------------header-navigation----------*/
